	/* Structure > 1200px */
	#wrapper 		{width: 1170px;margin: 0 auto;}

	#mainmenu		{width: 100%;float:left;display:none;}
	#main 			{width: 1130px;float:left;padding: 20px 20px 20px 20px;}

@media only screen and (max-width: 768px) {

	/* Structure  < 767 */
	#wrapper 		{width:100%;margin: 0 auto;}
	
	#mainmenu		{width:100%;float:left; display:inline;}
	#main 			{width:100%;float:left;padding: 20px 0 0 0;}

	/* Header */
	#site-title a {font-size:25px;margin-left:10px;}
	#mainmenu			{display:none;}
	#mainmenu ul li 	{float: none;}
	
	.btn-responsive-menu{display:block;}	
		
}

