

login a{color:#1a0dab;}
login a:visidet{color:#1a0dab;}

login input {background:#D8D8D8;border:1px solid #999;border-radius:3px;width:100%;
font-size:24px;
 border-style: solid;
    border-width: 1spx;
	border-color:rgb(255, 203, 5);
	-webkit-transition: all 0.5s linear; -moz-transition: all 0.5s linear; -o-transition: all 0.5s linear; transition: all 0.5s linear;}

	
login h3{font-size: 24px; color:#000;margin-bottom: 10px;}
login hh3{font-size: 18px; color:#000;margin-bottom: 10px;}

login h4{font-size: 12px; color:#000;margin-bottom: 10px;}

input {background:white;border:1px solid #999;border-radius:3px;width:180px;

	-webkit-transition: all 0.5s linear; -moz-transition: all 0.5s linear; -o-transition: all 0.5s linear; transition: all 0.5s linear;}

input:hover {background:#FC3;

-webkit-transition: all 0.5s linear; -moz-transition: all 0.5s linear; -o-transition: all 0.5s linear; transition: all 0.5s linear; }

input[type="radio"]{
background:white;border:1px solid #999;width:20px!important;

	-webkit-transition: all 0.5s linear; -moz-transition: all 0.5s linear; -o-transition: all 0.5s linear; transition: all 0.5s linear;}


login input[type="submit"]:hover{
	  background-image: -webkit-linear-gradient(top, rgba(25, 25, 25, 0), rgba(255, 0, 0, 0.1));
  background-image: -moz-linear-gradient(top, rgba(25, 25, 25, 0), rgba(255, 0, 0, 0.1));
  background-image: -o-linear-gradient(top, rgba(25, 25, 25, 0), rgba(255, 0, 0, 0.1));
  background-image: -ms-linear-gradient(top, rgba(25, 25, 25, 0), rgba(255, 0, 0, 0.1));
  background-image: linear-gradient(top, rgba(25, 25, 25, 0), rgba(255, 0, 0, 0.1));
}
login input[type="submit"]{
	width:95%;
	height:50px;
	cursor:pointer;
	
	border: 1px solid rgb(216, 216, 216);
  border-image-source: initial;
  border-image-slice: initial;
  border-image-width: initial;
  border-image-outset: initial;
  border-image-repeat: initial;
 /* position: absolute;*/
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  background-color: rgb(255, 203, 5);
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.6) 0px 1px 4px 0px;
  margin-bottom: 10px;

}

label{
	}


.form_dati{
	width:50%;
	float:left;
	padding-bottom:5px;

		
	
}
.form_dati img{
	float:left;
	padding-right:10px;
	}
.form_dati input[type="text"]{

}
.form_dati input[type="password"]{
		
}
.form_dati input[type="email"]{
	margin-left:50px;	
}




.form_sx{
	position:relative;
	float:left;
	padding-bottom:5px;
}
.form_dx{
	position:relative;
	float:right;
	padding-bottom:5px;
}

gioca input[type="submit"]{
	background:url(../images/gioca-ora1.png);
	height:50px;
	cursor:pointer;
	width:207px;
	border-width: 0px;
	box-shadow: rgba(0, 0, 0, 0) 0px 0px 0px 0px;
}
gioca input[type="submit"]:hover{
		background:url(../images/gioca-ora1.png);
	height:50px;
	cursor:pointer;
	width:207px;
	border-width: 0px;
	box-shadow: rgba(0, 0, 0, 0) 0px 0px 0px 0px;
}
/*
:hover{background:#FF6}*/