.body_stadio{
/*		background:url(../images/verde_erba.jpg) no-repeat;
	
-moz-background-size: cover;
        -webkit-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
/*	background-position: center center;*/
	
	/*overflow:hidden;	*/
}
.stadio{background:url(../images/2000px-Pista_di_atletica1.png);

	-moz-background-size: cover;
        -webkit-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
	background-position: center center;
	width:1000px;
	height:625px;
	position:relative;
	margin:0 auto;
	 

	
	}
	.erba{width:100%;/* background:url(../images/verde_erba.jpg) no-repeat;*/
	-moz-background-size: cover;
        -webkit-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
	background-position: center center;}
	.stadio img{ width:50px;}
	
.colore{
	background: rgba(50, 50, 50, 0.7);
	color: rgb(255, 203, 5);
	  	-webkit-transition: all 0.5s linear; -moz-transition: all 0.5s linear; -o-transition: all 0.5s linear; transition: all 0.5s linear;
position:absolute;
 
  padding: 5px;
}

.tremila_5mila{
  top: 10px;
  left:280px;
	}
.duecento{
  top: 10px;
  left:80px;
	}
	.mille5{
	top:80px;
  left: 850px;	
}
.asta{	  
  top: 90px;
  left: 500px;
	}
	.peso{
		top: 200px;
  left: 330px;
		
	}
.giavellotto{
top:300px;
  left: 310px;
}

.alto{
	top:390px;
  left: 250px;
	}


.martello{
	top:450px;
  left: 310px;
	
}
.triplo{
	top:470px;
  left: 580px;
	
}
.cento{
	top:550px;
  left: 300px;
	
}
.cento10{
	top:550px;
  left: 80px;
	
}
.quattrocento{
	top:550px;
  left: 850px;
	
}


.evidenzia:hover{
	background: rgba(50, 50, 50, 1);
	font:normal normal normal 16px/1.4em 'lucida sans unicode', 'lucida grande', sans-serif;
	-webkit-transition: all 0.5s linear; -moz-transition: all 0.5s linear; -o-transition: all 0.5s linear; transition: all 0.5s linear;
z-index:99;
}
.evidenzia span{color:#f4aa00;}
.evidenzia img{
	display:none;
		-webkit-transition: all 0.5s linear; -moz-transition: all 0.5s linear; -o-transition: all 0.5s linear; transition: all 0.5s linear;

}
.evidenzia:hover img{
	display:block;
		-webkit-transition: all 0.5s linear; -moz-transition: all 0.5s linear; -o-transition: all 0.5s linear; transition: all 0.5s linear;

	}
	

@media only screen and (min-width: 0px) and (max-width: 480px) {
	.body_stadio{
	/*	background:url(../images/SfondoAxC_3mob.jpg) no-repeat;
	
-moz-background-size: cover;
        -webkit-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

	overflow:hidden;*/
}
.stadio{	
	width:271px;
	height:169px;	
	}
	.colore span{
		visibility:hidden;
	}
	.colore:hover span{
		visibility:visible;
	}
	.colore{
	width:20px;
		height:20px;
		border-radius:20px;
		background:#f4aa00;	
  padding: 5px;
}
.colore:hover{
	border-radius:0px;
	width:auto;
	height:auto;
	background: rgba(50, 50, 50, 0.7);
	color: rgb(255, 203, 5);
	  	-webkit-transition: all 0.5s linear; -moz-transition: all 0.5s linear; -o-transition: all 0.5s linear; transition: all 0.5s linear;
position:absolute;

  padding: 5px;
}

.tremila_5mila{
  top: 0px;
  left:100px;
	}
	.duecento{
  top: 10px;
  left:10px;
	}
	
	.mille5{
	top:30px;
  left: 240px;	
}
.asta{	
  top: 20px;
  left: 130px;
	}
	.peso{
		top: 30px;
  left: 50px;	
	}
.giavellotto{
top:65px;
  left: 80px;
}
.alto{
	top:80px;
  left: 20px;
	}
.martello{
	top:100px;
  left: 50px;
}
.triplo{
	top:120px;
  left: 120px;	
}
.cento{
	top:135px;
  left: 50px;	
}
.cento10{
	top:135px;
  left: 0px;	
}
.quattrocento{
	top:130px;
  left: 250px;
}
}
@media only screen and (min-width: 481px) and (max-width: 768px) {
	.body_stadio{
		/*	background:url(../images/SfondoAxC_3mob.jpg) no-repeat;
	
-moz-background-size: cover;
        -webkit-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

	overflow:hidden;	*/
}
.evidenzia{
	font:normal normal normal 12px/1.4em 'lucida sans unicode', 'lucida grande', sans-serif;
}
	.stadio{	
	width:430px;
	height:268px;	
	}
	.tremila_5mila{
  top: 0px;
  left:100px;
	}
	.duecento{
  top: 10px;
  left:30px;
	}
	.mille5{
	top:30px;
  left: 400px;	
}
.asta{	  
  top: 30px;
  left: 200px;
	}
	.peso{
		top: 50px;
  left: 30px;	
	}
.giavellotto{
top:100px;
  left: 30px;
}
.alto{
	top:130px;
  left: 20px;
	}
.martello{
	top:160px;
  left: 60px;
}
.triplo{
	top:180px;
  left: 200px;	
}
.cento{
	top:230px;
  left: 150px;	
}
.cento10{
	top:200px;
  left: 20px;	
}
.quattrocento{
	top:200px;
  left: 350px;
}
}